{
  "token": "token",
  "messages": {
    "<ID Message>": "play",
    "<ID Message>": "create",
    "<ID Message>": "mj"
  },
  "logErrorChannelID": "<ID channel>",
  "rulesChannelID": "<ID channel>",
  "mjChannelID": "ID channel",
  "talkMJRoleID": "ID role",
  "emoji": "✅"
}
