{
  "token": "token",
  "messages": {
    "play": "<ID Message>",
    "create": "<ID Message>",
    "mj": "<ID Message>"
  },
  "logErrorChannelID": "<ID channel>",
  "rulesChannelID": "<ID channel>",
  "mjChannelID": "ID channel",
  "talkMJRoleID": "ID role",
  "emoji": "✅"
}
